spring:
  application:
    name: orderops
  datasource:
    url: jdbc:postgresql://localhost:5432/orderdb
    username: softfaktor
    password: softfaktor
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.xml
